* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html { background-color:#c1ebd4}
header {
    margin : 19px 21px 47px 41px ;
}
.link-header{
    font-weight:400 ;
    font-size: 14px;
    line-height:21px ;
    color: rgba(23, 35, 61, 1);
    cursor: pointer;
    margin-right: 23px;
}
.button-header {
        border-radius:6px ;
        background : rgba(111, 191, 68, 1);
        width: 124px;
        height: 51px;
        border: none;
        font-weight:500;
        font-size:16px ;
        line-height:24px ;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
}  
 .logo-image { 
   display: inline-block;
   width:381px;
   max-width:381px;
   margin-left: 192px;
   margin-top: 65px;
    }

 div { 
    display: inline-block;
    margin-left: 86px ;
    width:493px;
    }

h1 { 
    font-weight:700 ;
    font-size:44px ;
    line-height:45px ;
    color:rgba(22, 26, 73, 1);
    }

p {
    font-weight:400 ;
    font-size:18px ;
    line-height:23px ;
    color: #3e4140;
    margin-top: px;
    margin-bottom: 18px ;
   
    
    }

.link-saber{
    font-weight:500 ;
    font-size:18px ;
    line-height:27px ;
    color: rgba(111, 191, 68, 1);
   }  

     
      

